@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.background{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(114, 128, 167, 0.4)
}

.main-container{
    position: absolute;    
    background-color:white;
    border-radius: 20px;
    width: 350px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.vibes-img {
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.content {
    text-align: center;
    font-size: 16px;
    color: grey;
}

.black {
    color: black;
}

button {
    margin: 0 auto;
}

.plan {
    margin: 1.3em;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: gray;
}

.plan a{
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    padding: 20px;
}
.plan a:hover{
    text-decoration: none;
}

.plan img{
    padding: 1.2em;
}

.cancel {
    margin: 1.1em;
    display: flex;
    background-color: white;
    align-items: center;
    border-radius: 10px;
}

.cancel a {
    text-decoration: none;
    color: hsl(225, 100%, 94%);
}

.payment {
    margin: 1.1em;
    display: flex;
    align-items: center;
    border-radius: 10px;
}

.payment a {
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
}

button{
    display: flex;
    align-items: center;
    background-color: hsl(245, 75%, 52%);
    border-radius: 5px;
    padding: 5px;
    padding-left: 20%;
    padding-right: 20%;
}