@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Red Hat Display', sans-serif;
}

.background{
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgba(114, 128, 167, 0.4)
}

.main-container{
    position: absolute;    
    background-color:white;
    border-radius: 20px;
    width: 350px;
    height: 550px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);  
}

.vibes-img {
    background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.content{
    margin-top: 2rem;
    text-align: center;
    padding:5px;
}
.content h1{
    font-size:1.5rem;
    font-weight: 900;
}
.content p{
    margin-top: 0.3rem;
    padding:0.5rem;
    font-size: 0.9rem;
    color: grey;
}

.plan {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
    border-radius: 10px;
    color: gray;
    font-size: 0.8em;
}

.plan section {
    color: black;
    padding-top: 1.3em;
    font-weight: 700;
}

.normal{
    padding-bottom: 1.3em;
    font-weight: normal;
    color: grey;
}

.plan a{
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    margin-top: 50px;
    padding: 3.5em;
    font-weight: 700;
}
.plan a:hover{
    text-decoration: none;
    opacity: 0.7;
}

.plan img{
    padding: 1.2em;
}

.payment {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding: 1.1em;
    background-color: hsl(245, 75%, 52%);
    border-radius: 10px;
    color:white;
    font-size: 0.8em;
    text-align: center;
    box-shadow: 0px 14px 8px rgb(230, 235, 253);
    
}

.payment a {
    text-decoration: none;
    color: white;
    background-color: hsl(245, 75%, 52%);
}

.payment:hover {
    opacity: 0.7;
}

button {
    background-color: hsl(245, 75%, 52%);
    color: white;
    border: none;
}

.cancel {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    padding: 1.1em;
    background-color: white;
    border-radius: 10px;
    color:grey;
    font-size: 0.8em;
    text-align: center;
}

.cancel a {
    text-decoration: none;
    color: grey;
    font-weight: 900;
}

.cancel a:hover {
    text-decoration: none;
    color: black
}

